.ds-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @media screen and (max-width: $md){
        grid-template-columns: 1fr;
    }
}
.ds-portfolio__card{
    width: 100%;
    height: 478px;
    background-color: $lighter-peach;
    border-radius: 15px;
    transition: all $duration ease-in-out;
    &:hover{
        background-color: $peach;
        color: $white !important;
        transition: all $duration ease-in-out;
        .ds-portfolio__card-title{
            color: $white;
        }
    }

    @media screen and (max-width: $md){
        height: 310px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    @media screen and (max-width: $sm){
        height: 478px;
        grid-template-columns: 1fr;
    }
}
.ds-portfolio__card-image-container{
    height: 100%;
    height: 320px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;

    @media screen and (max-width: $md){
        border-radius: 15px 0 0 15px;
        height: 100%;
    }
    @media screen and (max-width: $sm){
        height: 320px;
        border-radius: 15px 15px 0 0;
    }
}   
.ds-portfolio__card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.ds-portfolio__card-details{
    padding: 1rem 2.5rem;
    text-align: center;

    @media screen and (max-width: $sm){
        padding: 1rem 1rem;
    }
}
.ds-portfolio__card-title{
    color: $peach;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;

}