/**
 * Basic typography style for copy text
 */
body {
  color: $dark-grey;
  font: normal 100% / 1.4 $text-font-stack;
  overflow-x: hidden;
}

.ds-heading{
  font-weight: 500;
}
.ds-heading--h1{
  font-size: 48px;
  line-height: 48px;

  @media screen and (max-width: $sm) {
    font-size: 32px;
    line-height: 36px;
  }
}
.ds-heading--h2{
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;

  @media screen and (max-width: $sm) {
    font-size: 28px;
    line-height: 36px;
  }
}
.ds-heading--h3{
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}
.ds-text--white{
  color: $white;
}
.ds-text--peach{
  color: $peach;
}
.ds-text--bold{
  font-weight: bold;
}
.ds-text--body{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.ds-heading--no-margin{
  margin: 0;
}