.ds-about-hero {
  background-color: $peach;
  background-image: url("/assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 15px;
  height: 480px;
  display: grid;
  grid-template-columns: 55% 45%;

  @media screen and (max-width: $md) {
    height: 632px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 1fr;
    background-position: -13vh -13vh;
    background-size: 100%;
  }

  @media screen and (max-width: $sm) {
    height: 715px;
    background-image: url("/assets/about/mobile/bg-pattern-hero-about-mobile.svg");
    margin-top: 96px !important;
    width: 100%;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: -465px 185px;
    background-size: 220%;
  }
}

.ds-about-hero__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;

  @media screen and (max-width: $md) {
    align-items: center;
    text-align: center;
    order: 2;
    padding: 2rem 4rem;
  }

  @media screen and (max-width: $sm) {
    padding: 2rem;
  }
}
.ds-about-hero__right {
  border-radius: 0 15px 15px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: $md) {
    border-radius: 15px 15px 0 0;
    order: 1;
  }

  @media screen and (max-width: $sm) {
    border-radius: 0 0 0 0;
    order: 1;
  }
}
.ds-about-hero__title {
  margin-top: 0;
  margin-bottom: 1rem;
}
.ds-about-section__image {
  background-repeat: no-repeat;
  background-size: cover;
}

.ds-about-section__image--hero {
  background-image: url("/assets/about/desktop/image-about-hero.jpg");
  @media screen and (max-width: $md) {
    background-image: url("/assets/about/tablet/image-about-hero.jpg");
  }
  @media screen and (max-width: $sm) {
    background-image: url("/assets/about/mobile/image-about-hero.jpg");
  }
}
.ds-about-section__image--talent {
  background-image: url("/assets/about/desktop/image-world-class-talent.jpg");
  @media screen and (max-width: $md) {
    background-image: url("/assets/about/tablet/image-world-class-talent.jpg");
  }
  @media screen and (max-width: $sm) {
    background-image: url("/assets/about/mobile/image-world-class-talent.jpg");
  }
}
.ds-about-section__image--real {
  background-image: url("/assets/about/desktop/image-real-deal.jpg");
  @media screen and (max-width: $md) {
    background-image: url("/assets/about/tablet/image-real-deal.jpg");
  }
  @media screen and (max-width: $sm) {
    background-image: url("/assets/about/mobile/image-real-deal.jpg");
  }
}
.ds-about-section {
  border-radius: 15px;
  height: 640px;
  display: grid;
  @media screen and (max-width: $md) {
    height: 736px;
    grid-template-rows: 320px 1fr;
  }
  @media screen and (max-width: $sm) {
    height: 865px;
    padding: 0;
  }
}
.ds-about-section--left {
  grid-template-columns: 60% 40%;
  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }
}
.ds-about-section--right {
  grid-template-columns: 40% 60%;
  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }
}
.ds-about-section--right .ds-about-section__left,
.ds-about-section--left .ds-about-section__right {
  height: 100%;
  height: 100%;
  overflow: hidden;
}
.ds-about-section--right .ds-about-section__left {
  border-radius: 15px 0 0 15px;
  @media screen and (max-width: $md) {
    border-radius: 15px 15px 0 0;
  }
  @media screen and (max-width: $sm) {
    border-radius: 0 0 0 0;
  }
}
.ds-about-section--left .ds-about-section__right {
  border-radius: 0 15px 15px 0;
  @media screen and (max-width: $md) {
    border-radius: 15px 15px 0 0;
    order: 1;
  }
  @media screen and (max-width: $sm) {
    border-radius: 0 0 0 0;
  }
}
.ds-about-section--left .ds-about-section__left {
  @media screen and (max-width: $md) {
    order: 2;
  }
}

.ds-about-section--right .ds-about-section__right,
.ds-about-section--left .ds-about-section__left {
  padding: 5rem 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $md) {
    text-align: center;
    padding: 2rem 3.5rem;
  }
  @media screen and (max-width: $sm) {
    padding: 2rem 1.65rem;
  }
}
.ds-about-section--right {
  background-image: url("/assets/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  background-position: 60% 100%;

  @media screen and (max-width: $md) {
    background-position: 85% 60%;
    background-size: 90%;
  }
  @media screen and (max-width: $md) {
    background-position: 0% 100%;
    background-size: 150%;
  }
}
.ds-about-section--left {
  background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
  background-repeat: no-repeat;
  background-position: 5% 100%;

  @media screen and (max-width: $md) {
    background-image: url("/assets/shared/desktop/bg-pattern-three-circles.svg");
    background-position: 85% 75%;
    background-size: 90%;
  }
  @media screen and (max-width: $sm) {
    background-position: 0% 100%;
    background-size: 150%;
  }
}
.ds-about-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $md) {
    object-position: 20%;
  }
}
.ds-about-section--light-peach {
  background-color: $lighter-peach;
}
.ds-about-section__title {
  margin-top: 0;
  margin-bottom: 1rem;
}
