.ds-locations-section {
  display: grid;
  height: 326px;
  gap: 2rem;

  @media screen and (max-width: $md) {
    height: unset;
  }
  @media screen and (max-width: $sm) {
    &:first-child {
      margin-top: 96px;
    }
  }
}
.ds-locations-section--left {
  grid-template-columns: calc(70% - 2rem) 30%;

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-rows: 326px 326px;

    .ds-locations-section__map {
      order: 1;
      z-index: 0;
    }
    .ds-locations-section__detail {
      order: 2;
    }
  }
}
.ds-locations-section--right {
  grid-template-columns: 30% calc(70% - 2rem);

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-rows: 326px 326px;
  }
}
.ds-locations-section__address {
  span {
    display: block;
  }
}
.ds-locations-section__detail {
  background-color: $lighter-peach;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.ds-location-section__detail-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.ds-locations-section__address-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ds-locations-section__map {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
