// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');


/// Regular font family
/// @type List
$text-font-stack: 'Jost', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




/// Peach color
/// @type Color
$peach: hsl(11, 72%, 66%) !default;

/// Black color
/// @type Color
$black: hsl(270, 3%, 11%) !default;

/// White color
/// @type Color
$white: hsl(0, 0%, 100%) !default;

/// Light peach color
/// @type Color
$light-peach: hsl(11, 100%, 80%) !default;

/// Dark grey color
/// @type Color
$dark-grey: hsl(264, 5%, 20%) !default;

/// Light grey color
/// @type Color
$light-grey: hsl(210, 17%, 95%) !default;







/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Transiton Duratino
/// @type Duration
$duration: 0.3s;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
