// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.ds-header__navbar{
    display: flex;
    place-items: center;
    justify-content: space-between;
    height: 130px;
}
.ds-header__navbar-logo {
  width: 192px;
  height: auto;
}
.ds-header__nav-items {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.9rem;
  display: flex;
}
.ds-header__nav-item {
  margin-right: 2rem;

  &:last-child{
    margin-right: 0;
  }
}
